<% if @events.present? %>
<% @events.each do |event| %>
<article class="p-article c-talk--right">
	<p class="c-talk__name"><%= event.title %></p>

	<ul class="p-article__bottom c-text--midium">
		<li>
			<%= link_to "もっと読む", event %>
		</li>
	</ul>

</article>
<% end %>
<%#= will_paginate @events, :class => 'p-pager' %>
<% else %>
<p>記事がありません。</p>

<% end %>

<% @tags.each do |tag| %>
<li><%= tag.id %> <%= tag.name %></li>
<% end %>

<% @tagpost.each do |item| %>
<li><%= item.id %> <%= item.name %> カウント：<%= item.taggings_count %></li>
<% end %>
