<% if @books.present? %>
<% @books.each do |book| %>
<article class="p-article c-box">
	<div class="c-text--small" style="color: gray;margin-bottom: 8px;font-weight: bold">POST ID&nbsp;/&nbsp;<%= book.id %></div>
	<h2 style="font-size: 1.4rem;font-weight: bold;letter-spacing: 0.02em;">
		<a class="c-box__link" href="<%= book.detailpageurl %>" target="_blank"><%= book.title %></a>
	</h2>
	<p class="c-box__title"><%= book.title %></p>

	<img src="<%= book.image %>">
	<p>
		<% if book.content.present? %>
		<%= book.content %>
		<% end %>
		<% if book.author.present? %>
		著者：<%= book.author %><br>
		<% end %>
		<% if book.publicationdate.present? %>
		発売日：<%= book.publicationdate %><br>
		<% end %>
		<% if book.language.present? %>
		言語：<%= book.language %><br>
		<% end %>
		カウント数：<%= book.post_count %>
	</p>

<div class="c-btn--sns js-sharebtn">
	<i class="fab fa-twitter"></i>
	<span>オススメする</span>
</div>

	<% book.dictionary.each do |item| %>
	<p style="color: red;">
		<%= item.id %>
		<%= item.name %>
		<%= item.url %>
	</p>
	<% end %>

	<ul class="p-article__bottom c-text--midium">
		<li>
			<a href="<%= book.detailpageurl %>" target="_blank">Amazon</a>
		</li>
		<li>
			<%= link_to "詳細", book %>
		</li>
	</ul>

</article>
<% end %>
<%#= will_paginate @books, :class => 'p-pager' %>
<% else %>
<p>記事がありません。</p>
<% end %>
